spring:
  application:
    name: registo-horas-service
  # Certifique-se de que a execução do script está habilitada
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  sql:
    init:
      schema-locations: classpath:schema.sql
      mode: always
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER}
  jpa:
    hibernate:
      ddl-auto: update
      default-schema: registos
    show-sql: true
    open-in-view: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  rabbitmq:
    host: ${RABBITMQ_PRIVATE_URL}   # Se estiver a correr o RabbitMQ localmente
    port: ${RABBITMQ_PORT}     # Porta padrão do RabbitMQ
    username: ${RABBITMQ_DEFAULT_USER}   # Usuário padrão
    password: ${RABBITMQ_DEFAULT_PASS}   # Password padrão

  cloud:
    vault:
      host: localhost
      port: 8200
      scheme: http
      enabled: false

  flyway:
    enabled: false
    locations: classpath:db/migration
    baseline-on-migrate: true
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,env,beans
  endpoint:
    health:
      show-details: never
  health:
    mail:
      enabled: false

server:
  port: ${PORT:8083}
  forward-headers-strategy: native
cloud:
  aws:
    credentials:
      accessKey: ${AWS_ACCESS_KEY}
      secretKey: ${AWS_SECRET_KEY}
    region: ${AWS_REGION}
aws:
  s3:
    bucket-name: ${AWS_S3_BUCKET_NAME}
    folder-name: ${AWS_S3_FOLDER_NAME}

url:
  micro-servico-auth: ${URI_AUTH_SERVICE}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
    filter: true
    display-request-duration: true

logging:
  level:
    org.springframework.security: DEBUG
    com.registo.horas_estagio: DEBUG
    org.flywaydb: DEBUG
  file:
    name: logs/app.log

gcp:
  project:
    id: project-acc-398519
    location: us-central1
  credentials:
    json-content: |
      {
        "type": "service_account",
        "project_id": "project-acc-398519",
        "private_key_id": "f461aaa4002b58710c6cec4932f3cae4af5f049a",
        "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDgShjHe2g372E8\nPNQLJbKJp+O9J+gRYv2HXp9jFkVM7A3SOvwLo5O/kBnGdv7+3TpiS38IgY6zFRkv\nhddZSVpRl53ggBiI67c+ZHCGqtxqC6qT+/XvaCGD8M4RpLUPvW4D6jcpaYRcvxcW\naAlSeYKsO011grbiy28x9/wReCIClmEsYcDQIzRowLUmSvtWB1UELHUQdJmTjO3m\nJPGexLfIiabL/wZLlcrRoB30XCrjSJd8g8igK6oG+JAnRj3vNIpgNEj5sciBRAFL\nDAsCZz60btuycYvx0nDtHl7RxtDTMnYnpTAgZ/0wcHvngEl0GQRrNV/PvaXOitqT\nB1w4uYUvAgMBAAECggEAAw/6mvgBj3NKdGxE3ZVur3gmNmYjQjWD+QNe5sHzlp4f\nKYXaUihcyJVQR3LxfrZePosBrt03VGpPKo8dG8rSG7dtFZck0/Mapenw1WM42OPU\nOOq29sVeYR2lGqg75qfzUW9dwHLV4VRPSDmJwwwGBOcBuD8y0xGXBkDOEB5VTIwN\ni/PyczfPxHUY1wDfdFUJrsnSvV89ohdGC+3pVVgKZuLWwQMvw8/Z6x7uXZ3DTmlP\nM8aDe7FQd4zTXClkLtCooaKcHhbtXz07r0gEBsQbRfcQH4CFGthhQ0rL3n33LYkK\naiaDwCfuUQa8/CUQ5jp4DlcJ8Bvd629D+tjMBXv2+QKBgQD596iIWSO5QpCvR7rv\nMDuRwMDRNyfVOHInlqPU3L1B9qhHkBAev6h4u+R13jt3g/3fia0fRsdj7wdevOt/\nUjqMnPlo+iFixxqN5uKCY8NBcoHb/lfzPc43fLwCkQeFyGyrKeh+G/dHcPCsjX9Q\nWasRJoLrCDmKHOr+7SMJ7ChEOQKBgQDls8unOoLYxADUNGAj1Y0ClgCiskEt07eC\nyKBdGiHaWkZeRnzeAsNLm7ZeKsjYtFJpD0pDD9R4Mo9UUli9H6sL72i4OQ4AHme+\nfCLdmisPBafubKH7THUaNNBEVHBtd7WMSJGq6WacAzDYxzoI5Za7TDQd9Rt81FS8\nq7mjCcUkpwKBgQDr81BMVAgaibDVI1pbCSZRsKbRVcTtyXhH0jQXa73iFBhIZL4y\nqCs4u/MtJ3bum9L6PJUEHuV7eVd1n9KTvmSx8kKjSuhUuyhfpf9NoSngD1xw8qbG\nXiLX0ZAOxCNbrxKUhtyEnZVPBFbKKk5w5BNL/xQ5EuxtaFqSA/m9FgP0UQKBgDAO\nWIoI/Lz67K14s7Brig/DcCiZoHdE9vyemqY/xFtZTaWFm7Qa4d7cmd/Dlbd4qlEe\niMvU8P+gnEno3HXcvT1G/iKklSBDPDMm52hzS5Td+w8vnQflLA6qg/P3snnEdK//\nsrIOGJCFPl/r9mFMHyfaPoER+Yk5Ju0+BB1u+ta7AoGBAJYATqM37FOrcVISui2b\n2WpF38KdQ6UX/x4Hup1jRF8Y6zOpZoVbuvsiO3d/HO+WO4gMisf3mly9sZTHyGNO\nUaSTztESt7cbRWUbB1olzcnfwY3H98HvEU7krvFNGkm/63yLl8V0aZ5keTNWyeql\nvij5WPz9fNlYxGeIX+co+7ED\n-----END PRIVATE KEY-----\n",
        "client_email": "app-treg@project-acc-398519.iam.gserviceaccount.com",
        "client_id": "103384274493882185143",
        "auth_uri": "https://accounts.google.com/o/oauth2/auth",
        "token_uri": "https://oauth2.googleapis.com/token",
        "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
        "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/app-treg%40project-acc-398519.iam.gserviceaccount.com",
        "universe_domain": "googleapis.com"
      }


gemini:
    base:
      url: ${AI_API_BASE_URL}
      key: ${AI_API_KEY}

app:
  queries:
    monthly-summary: "SELECT 
    TO_CHAR(data_registo, 'YYYY-MM') AS mes_e_ano, 
    SUM(horas_trabalhadas) AS total_horas_trabalhadas 
    FROM 
    registos.registos_horas rh 
    WHERE 
    :username IS NULL OR :username = 'all' OR rh.username = :username 
    GROUP BY 
    mes_e_ano 
    ORDER BY 
    mes_e_ano DESC"

    # 4. Query findTotalHoursAndRequiredHoursByUserName (A mais longa)
    user-required-vs-total-hours: "SELECT
    u.username,
    tp.project_name,
    u.email,
    tp.required_hours,
    ROUND(CAST(SUM(r.horas_trabalhadas) AS NUMERIC), 1) AS Total_horas_trabalhadas,
   u.profile_picture_url
FROM
    auth.tb_users u
INNER JOIN
    registos.registos_horas r ON u.username = r.username
INNER JOIN
    auth.tb_projetos tp ON u.username = tp.username
WHERE
    u.username =:username
GROUP BY
    u.username, u.email, tp.required_hours, tp.project_name,u.profile_picture_url"
