spring:
  application:
    name: registo-horas-service

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  # Configuração de Cache corrigida para Redis
  cache:
    type: redis
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_HOST:6379}
      password: ${SPRING_DATA_REDIS_PASSWORD:}
      repositories:
        enabled: false
      # Configuração de TTL (24 horas)
  redis:
    time-to-live: 86400000

  jackson:
    deserialization:
      fail-on-unknown-properties: false

  sql:
    init:
      schema-locations: classpath:schema.sql
      mode: always

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER:org.postgresql.Driver}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    port: ${SPRING_RABBITMQ_PORT:5672}
    username: ${SPRING_RABBITMQ_USERNAME:rabbituser}
    password: ${SPRING_RABBITMQ_PASSWORD:rabbitpass}

  cloud:
    vault:
      host: ${VAULT_HOST:localhost}
      port: 8200
      scheme: http
      enabled: false
    aws:
      credentials:
        accessKey: ${AWS_ACCESS_KEY}
        secretKey: ${AWS_SECRET_KEY}
      region:
        static: ${AWS_REGION}
      s3:
        bucket-name: ${AWS_S3_BUCKET_NAME}
        folder-name: ${AWS_S3_FOLDER_NAME}

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
          temperature: 0.7

  flyway:
    enabled: false
    locations: classpath:db/migration
    baseline-on-migrate: false
    baseline-version: 0

logging:
  level:
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.SQL: DEBUG
    org.springframework.security.web.ObservationFilterChainDecorator: ERROR
    org.springframework.security.web.FilterChainProxy: ERROR
    com.aneto.registo_horas_service.security.GatewayAuthFilter: ERROR
    org.flywaydb: INFO
  file:
    name: logs/app.log

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,env,beans
  endpoint:
    health:
      show-details: always
  health:
    mail:
      enabled: false

server:
  port: ${PORT:8083}
  forward-headers-strategy: native

url:
  micro_service_auth: ${URI_AUTH_SERVICE}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
    filter: true
    display-request-duration: true

gcp:
  project:
    id: ${GCP_PROJECT_ID}
    location: ${GCP_PROJECT_LOCATION}
  credentials:
    json-content: ${GCP_CREDENTIALS_JSO_CONTENT}

Football:
  Data:
    url: ${FOOTBALL_DATA_URL}
    API_TOKEN: ${FOOTBALL_DATA_API_TOKEN}

vapid:
  public:
    key: ${VAPID_PUBLIC_KEY}
  private:
    key: ${VAPID_PRIVATE_KEY}
  subject: ${VAPID_SUBJECT}

telegram:
  bot:
    token:
      anetoBot: ${TELEGRAM_BOT_TOKEN}

app:
  queries:
    monthly-summary: "SELECT TO_CHAR(data_registo, 'YYYY-MM') AS mes_e_ano, SUM(horas_trabalhadas) AS total_horas_trabalhadas 
    FROM registos.registos_horas rh
    WHERE :username IS NULL OR :username = 'all' OR rh.username = :username 
    GROUP BY mes_e_ano ORDER BY mes_e_ano DESC"

    user-required-vs-total-hours: "SELECT u.username, COALESCE(tp.project_name, 'Sem Projeto') as project_name,
     u.email, COALESCE(tp.required_hours, 0) as required_hours, COALESCE(ROUND(CAST(SUM(r.horas_trabalhadas) AS NUMERIC), 1), 0) AS Total_horas_trabalhadas,
      u.profile_picture_url, u.public_id, u.telegram_chat_id, u.mfa_enabled 
      FROM auth.tb_users u LEFT JOIN registos.registos_horas r ON u.username = r.username 
      LEFT JOIN auth.tb_projetos tp ON u.username = tp.username WHERE u.username = :username 
      GROUP BY u.username, u.email, tp.required_hours, tp.project_name,
        u.profile_picture_url, u.public_id, u.telegram_chat_id, u.mfa_enabled"