spring:
  application:
    name: registo-horas-service
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  jackson:
    deserialization:
      fail-on-unknown-properties: false

  # 1. DESATIVA o SQL init para não conflitar
  sql:
    init:
      mode: never

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER:org.postgresql.Driver}

  jpa:
    hibernate:
      # Muda para 'none' ou 'validate' se já tiveres as tabelas criadas
      ddl-auto: update
    show-sql: true
    open-in-view: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  # 2. CORREÇÃO CRÍTICA DO FLYWAY
  # Mesmo que não o uses ativamente, se a dependência existir, ele valida o esquema.
  flyway:
    enabled: true
    baseline-on-migrate: true  # OBRIGATÓRIO: Resolve o erro do log
    locations: classpath:db/migration
    fail-on-missing-locations: false

  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST}
    port: ${SPRING_RABBITMQ_PORT}
    username: ${SPRING_RABBITMQ_USERNAME}
    password: ${SPRING_RABBITMQ_PASSWORD}

# Secção Cloud (Nível superior)
cloud:
  vault:
    enabled: false
  aws:
    credentials:
      accessKey: ${AWS_ACCESS_KEY}
      secretKey: ${AWS_SECRET_KEY}
    region:
      static: ${AWS_REGION}
    s3:
      bucket-name: ${AWS_S3_BUCKET_NAME}
      folder-name: ${AWS_S3_FOLDER_NAME}
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o-mini
          temperature: 0.7

logging:
  level:
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.SQL: DEBUG
    org.flywaydb: INFO
    org.springframework.security: ERROR
  file:
    name: logs/app.log

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,env,beans
  endpoint:
    health:
      show-details: always

server:
  port: ${PORT:8083}
  forward-headers-strategy: native

url:
  micro_service_auth: ${URI_AUTH_SERVICE}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

gcp:
  project:
    id: ${GCP_PROJECT_ID}
    location: ${GCP_PROJECT_LOCATION}
  credentials:
    json-content: ${GCP_CREDENTIALS_JSO_CONTENT}

Football:
  Data:
    url: ${FOOTBALL_DATA_URL}
    API_TOKEN: ${FOOTBALL_DATA_API_TOKEN}

vapid:
  public:
    key: ${VAPID_PUBLIC_KEY}
  private:
    key: ${VAPID_PRIVATE_KEY}
  subject: ${VAPID_SUBJECT}

telegram:
  bot:
    token:
      anetoBot: ${TELEGRAM_BOT_TOKEN}

app:
  queries:
    monthly-summary: "SELECT TO_CHAR(data_registo, 'YYYY-MM') AS mes_e_ano, SUM(horas_trabalhadas) AS total_horas_trabalhadas FROM registos.registos_horas rh WHERE :username IS NULL OR :username = 'all' OR rh.username = :username GROUP BY mes_e_ano ORDER BY mes_e_ano DESC"
    user-required-vs-total-hours: "SELECT u.username, COALESCE(tp.project_name, 'Sem Projeto') as project_name, u.email, COALESCE(tp.required_hours, 0) as required_hours, COALESCE(ROUND(CAST(SUM(r.horas_trabalhadas) AS NUMERIC), 1), 0) AS Total_horas_trabalhadas, u.profile_picture_url, u.public_id, u.telegram_chat_id, u.mfa_enabled FROM auth.tb_users u LEFT JOIN registos.registos_horas r ON u.username = r.username LEFT JOIN auth.tb_projetos tp ON u.username = tp.username WHERE u.username = :username GROUP BY u.username, u.email, tp.required_hours, tp.project_name, u.profile_picture_url, u.public_id, u.telegram_chat_id, u.mfa_enabled"