spring:
  application:
    name: registo-horas-service
  # Certifique-se de que a execução do script está habilitada
  sql:
    init:
      schema-locations: classpath:schema.sql
      mode: always
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER}
  jpa:
    hibernate:
      ddl-auto: update
      default-schema: registos
    show-sql: true
    open-in-view: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  rabbitmq:
    host: ${RABBITMQ_PRIVATE_URL}   # Se estiver a correr o RabbitMQ localmente
    port: ${RABBITMQ_PORT}     # Porta padrão do RabbitMQ
    username: ${RABBITMQ_DEFAULT_USER}   # Usuário padrão
    password: ${RABBITMQ_DEFAULT_PASS}   # Password padrão

  cloud:
    vault:
      host: localhost
      port: 8200
      scheme: http
      enabled: false

  flyway:
    enabled: false
    locations: classpath:db/migration
    baseline-on-migrate: true
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,env,beans
  endpoint:
    health:
      show-details: never
  health:
    mail:
      enabled: false

server:
  port: ${PORT:8083}
  forward-headers-strategy: native

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
    filter: true
    display-request-duration: true

logging:
  level:
    org.springframework.security: DEBUG
    com.registo.horas_estagio: DEBUG
    org.flywaydb: DEBUG
  file:
    name: logs/app.log

app:
  queries:
    monthly-summary-global: "SELECT 
        TO_CHAR(data_registo, 'YYYY-MM') AS mes_e_ano, 
        ROUND(CAST(SUM(r.horas_trabalhadas) AS NUMERIC), 1) AS total_horas_trabalhadas 
    FROM 
        registos.registos_horas rh 
    GROUP BY 
        mes_e_ano 
    ORDER BY 
        mes_e_ano DESC"

    # 3. Query findMonthlySummaryByUsername (Por Utilizador)
    monthly-summary-by-user: "SELECT 
        TO_CHAR(data_registo, 'YYYY-MM') AS mes_e_ano, 
        ROUND(CAST(SUM(r.horas_trabalhadas) AS NUMERIC), 1) AS total_horas_trabalhadas 
    FROM 
        registos.registos_horas rh 
    WHERE 
        rh.username = :username 
    GROUP BY 
        mes_e_ano 
    ORDER BY 
        mes_e_ano DESC"

    # 4. Query findTotalHoursAndRequiredHoursByUserName (A mais longa)
    user-required-vs-total-hours: "SELECT
    u.username,
    tp.project_name,
    u.email,
    tp.required_hours,
    ROUND(CAST(SUM(r.horas_trabalhadas) AS NUMERIC), 1) AS Total_horas_trabalhadas
FROM
    auth.tb_users u
INNER JOIN
    registos.registos_horas r ON u.username = r.username
INNER JOIN
    auth.tb_projetos tp ON u.username = tp.username
WHERE
    u.username = :username
GROUP BY
    u.username, u.email, tp.required_hours, tp.project_name"